html {scroll-behavior: smooth; scroll-padding: 7em; --scrollbarBG: #1a1a1a; --thumbBG: #3f3f3f;}
p,ul,ol {color: #CECECE;}
p {padding-top: 1em;}
b {color: #dbdbdb;}
a, a:link, a:visited, a:hover, a:active{text-decoration: none}
h1 {color: #dbdbdb; margin-bottom: 0.2ch; font-size: 1.35em; text-align: center;}
h1 a {color: #dbdbdb; margin-bottom: 0.2ch; font-size: 1em; text-align: center; text-decoration:none; }
div.index{padding: 2em; background-color: #1a1a1a;text-decoration: none; border-radius: 0.4em;}
div.index:hover{background-color: #3f3f3f;}
h1.post_title{font-size: 2em}
h3 {color: #dbdbdb; margin-top: 4.5em;  }
::selection {color: #282828; background-color: #DAE4ED;}
date {color: #848484; margin-top: -0.9ch; font-size: 0.85em; text-align: center; display: block;}

div.menu a:hover:not(.active) {background-color: #464646;}

.active {background-color: #DAE4ED;}
a.post{text-decoration: none;}
.menu{font-family: 'Ubuntu', sans-serif;}
body::-webkit-scrollbar {width: 11px;}
body::-webkit-scrollbar-track {background: var(--scrollbarBG);}
body::-webkit-scrollbar-thumb {background-color: var(--thumbBG);border-radius: 6px;border: 3px solid var(--scrollbarBG);}
li a {text-decoration:none;font-weight: bold; color: #dbdbdb;}


date br {
	content: "";
	margin: 1em;
	display: block;
	font-size: 1%;
}

body {
	background-color: #222;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.7;
	margin: 0;
	letter-spacing: 0.02em;
	font-size: 1em;
	overflow-x: hidden;
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

main {
	max-width: 90ch;
	margin: auto;
	padding: 1em;
	padding-top: 6em;
	font-size: 1em;
	padding-bottom: 2em;

}

pre.code {
	color: #dbdbdb;
	background-color: #1a1a1a;
	font-size: 1.1em;
	padding: 2ch;
	overflow-x: auto;
	border-radius: 0.4em;
}

pre.code:hover {
}

code {
	color: #dbdbdb;
	background-color: #1a1a1a;
	font-size: 1.5ch;
	display: inline-block;
	padding-left: 1ch;
	padding-right: 1ch;
	border-radius: 0.4em;
}

pre span, h3 span {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #848484;
}

div.header a{
	margin: 0.75em;
	padding-left: 0.5em;
	display: inline-block;
	letter-spacing: 2px;
	text-shadow: 3px 2px #707070;
	text-decoration: none;
	font-size: 1.2em;
	color: #dbdbdb;
	font-weight: bold;

}

div.header {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
	box-shadow: none;
	background-color: #1A1A1A;
	position: fixed;
	height: 4em!important;
	overflow: hidden;
	z-index: 10;
}

/*  sidebar menu start */
#sidebarMenu {
	height: 100%;
	position: fixed;
	right: 0;
	width: 10em;
	margin-top: 4em;
	transform: translateX(+15em);
	transition: transform 250ms ease-in-out;
	background: #1a1a1a;
}

.sidebarMenuInner{
	margin:0;
	padding:0;
}

.sidebarMenuInner li{
	font-family: 'Ubuntu', sans-serif;
	list-style: none;
	color: #fff;
	cursor: pointer;
}

.sidebarMenuInner li a{
	font-family: 'Ubuntu', sans-serif;
	color: #dbdbdb;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1em;
	padding: 1.1em;
	display: block;
	text-align: center;
}

.sidebarMenuInner li a:hover {
  background-color: #3f3f3f;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
	transform: translateX(0);
}

input[type=checkbox] {
	transition: all 0.3s;
	box-sizing: border-box;
	display: none;
}

.sidebarIconToggle {
	transition: all 0.3s;
	box-sizing: border-box;
	cursor: pointer;
	position: fixed;
	z-index: 99;
	height: 100%;
	width: 100%;
	top: 1.4em;
	right: 1.5em;
	height: 1.4em;
	width: 1.4em;
}

div.spinner {
	transition: all 0.3s;
	box-sizing: border-box;
	position: absolute;
	height: 3px;
	width: 100%;
	background-color: #dbdbdb;
}

div.horizontal {
	transition: all 0.3s;
	box-sizing: border-box;
	position: relative;
	float: right;
	margin-top: 3px;
}

div.diagonal.part-1 {
	position: relative;
	transition: all 0.3s;
	box-sizing: border-box;
	float: right;
}

div.diagonal.part-2 {
	transition: all 0.3s;
	box-sizing: border-box;
	position: relative;
	float: right;
	margin-top: 3px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
	transition: all 0.3s;
	box-sizing: border-box;
	opacity: 0;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
	transition: all 0.3s;
	box-sizing: border-box;
	transform: rotate(135deg);
	margin-top: 8px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
	transition: all 0.3s;
	box-sizing: border-box;
	transform: rotate(-135deg);
	margin-top: -9px;
}
/* sidebar menu end */


/*  comment box start */
div.comment-box {
	color: #dbdbdb;
	background-color: #1a1a1a;
	margin: 2.5em;
	display: block;
	padding: 2em;
	border-radius: 0.4em;
}

div.comment-box name{
	color: #dbdbdb;
	font-weight: bold;
	overflow-x: auto;
}

div.comment-box comment-date{
	color: #848484;
}

pre.body{
	font-family: inherit;
	overflow-x: auto;
}

textarea {
	color: #dbdbdb;
	background-color: #1a1a1a;
	border: none;
	width: 100%;
	max-width: 80ch;
	padding: 2em;
	display: block;
	margin: 2em auto 2em auto;
	border-radius: 0.4em;
}

textarea:focus, input:focus {

}

input, button.btn {
	color: #dbdbdb;
	background-color: #1a1a1a;
	border: none;
	width: 100%;
	max-width: 76ch;
	padding: 2em;
	display: block;
  margin: 2em auto 2em auto;
	border-radius: 0.4em;
}

input:invalid {

}

input:required {

}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/*  comment box end */
