{% load static %}
{% static "css/styles.css" as css %}
{% static "media/icon.png" as logo %}
<!DOCTYPE html>
<html lang="en">
<head>
	  {% if post.title %}
        <title>{{ post.title }} - Nixverse - Unix/Linux Tutorials</title>
    {% else %}
        <title>Nixverse - Unix/Linux Tutorials</title>
    {% endif %}
	<link rel="stylesheet" href="{{ css }}" title="external style sheet">
	<link rel="icon" href="{{ logo }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta charset="utf-8"/>
</head>
<body>
{% include 'menu.html' %}
<main>
{% block content %}{% endblock content %}
</main>
</body>
</html>
