<br>
{# Showing comments. #}
{% for comment in comments %}
<div class="comment-box">
    <name>{{ comment.name }}</name>
    <comment-date> said on {{ comment.created_on | date:"F d, Y" }} </comment-date>
    <br>
    <pre class="body">{{ comment.body }}</pre>
</div>
{% endfor %}

<br>

{# Add new comment. #}
{% if new_comment %}
    <div class="comment-box" style="text-align:center">
    Your comment is awaiting moderation.
    </div>
{% else %}
    <div class="reply">
        <form action="" method="post"">
            {% csrf_token %}
            {{ comment_form.name }}
            {{ comment_form.email }}
            {{ comment_form.body }}
            <button type="submit" class="btn">Reply</button>
        </form>
    </div>
{% endif %}
