{% extends 'base.html' %}
{% block content %}
{% for post in post_list %}
<a href="{% url 'post-page' post.slug  %}">
<div class="index">
    <h1>{{ post.title }}</h1>
    <date>{{ post.created_on | date:"F d, Y" }}</date>
</div>
</a>
<br>
{% endfor %}
{% endblock content %}
