<div class="header"><a href="{% url 'home' %}">NIXVERSE</a></div>

<input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
<label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
</label>
<div id="sidebarMenu">
    <ul class="sidebarMenuInner">
        <li><a href="{% url 'home' %}" >Home</a></li>
        <li><a href="{% url 'about-page' %}" >About</a></li>
        <li><a href="{% url 'archive-page' %}" >Archive</a></li>
        <li><a href="{% url 'contact-page' %}" >Contact</a></li>
        <li><a href="{% url 'privacy-page' %}" >Privacy</a></li>
    </ul>
</div>
