{% extends 'base.html' %} {% block content %}
<a href="{% url 'post-page' post.slug %}">
<h1 class="post_title">{{ post.title }}</h1></a>
<date>{{ post.created_on | date:"F d, Y" }}</date>
<p>{{ post.content | safe }}</p>
{% endblock content %}
